html {
  background-image: url(back.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.f {
  margin-top: 250px;
  text-align: center;
}

.f1 {
  text-align: center;
}

fieldset {
  margin-left: 400px;
  margin-right: 400px;
}

.button {
  padding: 5px 20px;
  border-radius: 10px;
}

